<h1>DETAIL</h1>

<div class="card" style="width: 18rem;">
  <img src="{{ plan.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ plan.title }}</h5>
    <p class="card-text">{{ plan.description }}</p>
  </div>
 
  <div class="card-body">
    <a href="" class="card-link">COMPRAR PLAN</a>
  </div>
</div>