<footer class="footer">
    <div class="container">

        <div class="footer-title">
            <br>
            <h1><span style="color: white">My</span> <span class="span-promenade">Promenade</span></h1>
        </div>




        <div clas="row" id="footer-groups">

            <div>
                <h4>Compañia</h4>
                <div>
                    <smmall>mypromenade@mypromenade.com</smmall>

                    <div>
                        <a class="home-btn" href="/">Página principal</a>

                    </div>
                </div>
            </div>

            <div>
                <h4>Enlaces</h4>
            </div>

            <div >
                <h4>Redes Sociales</h4>
                <div><i class="fa fa-facebook-square fa-fw"></i>Facebook</i></div>
                <div><i class="fa fa-twitter-square fa-fw"></i>Twitter</div>
                <div><i class="fa fa-linkedin-square fa-fw"></i>Linkedin</div>
            </div>
        </div>
    </div>

</footer>