<footer class="footer">
    <div class="container">

        <div class="footer-title">
            <br>
            <h1><span style="color: white">My</span> <span class="span-promenade">Promenade</span></h1>
        </div>z




        <div clas="row" id="footer-groups">

            <div>
                <h4>Compañia</h4>
                <div>
                    <smmall>mypromenade@mypromenade.com</smmall>

                    <div>
                        <a class="home-btn" href="/">Página principal</a>

                    </div>
                </div>
            </div>

            <div >
                <h4>Redes Sociales</h4>
                <div> <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-fw"></i></i></a>Facebook</div>
                <div> <a href="#"><i class="fa fa-twitter-square fa-fw"></i></a>Twitter</div>
                <div> <a href="#"><i class="fa fa-linkedin-square fa-fw"></i></a>Linkedin</div>
            </div>
        </div>
    </div>

</footer>