<footer class="footer">
    <div class="container">

        <div class="footer-title">
            <br>
            <h1><span style="color: white">My</span> <span class="span-promenade">Promenade</span></h1>
        </div>




        <div clas="row" id="footer-groups">
            <div>
                <h4>Compañia</h4>
                <div>
                    <smmall>mypromenade@mypromenade.com</smmall>

                </div>
                <div>
                    <a href="/">Página principal</a>    
                </div>
            </div>
            <div>
                <h4>Enlaces</h4>
            </div>
            <div>
                <h4>Redes Sociales</h4>
            </div>
        </div>
    </div>

</footer>