<footer class="footer">
    <div class="container">

        <div class="footer-title">
            <br>
            <h1><span style="color: white">My</span> <span class="span-promenade">Promenade</span></h1>
        </div>




        <div clas="row" id="footer-groups">

            <div>
                <h4 class="mt-2">Compañia</h4>
                <div class="mt-3">
                    <a href="#"><smmall style="color:white">mypromenade@mypromenade.com</smmall></a>

                    <div class="mt-2">
                        <a class="home-btn" href="/">Home</a>

                    </div>
                </div>
            </div>

            <div class="mb-2" >
                <h4>Redes Sociales</h4>
                <div class="mt-1"> <a href="https://www.facebook.com/"><i style="color:white" class="fa fa-facebook-square fa-fw"></i></i></a>Facebook</div>
                <div class="mt-1"> <a href="https://twitter.com/"><i style="color:white" class="fa fa-twitter-square fa-fw"></i></a>Twitter</div>
                <div class="mt-1" > <a href="https://www.linkedin.com/"><i style="color:white" class="fa fa-linkedin-square fa-fw"></i></a>Linkedin</div>
            </div>
        </div>
    </div>

</footer>