<nav id="nav-color" class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" id="bg-logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="navbar-hamburguer">
      <i class="fa fa-bars"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="content-nav-wrapper">


      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a href="/">
            <h1><span style="color: white">My</span> <span class="span-promenade">Promenade</span></h1>
          </a>
      </ul>
      <ul class="nav navbar-nav navbar-right me-3 mt-3">

        {{#if currentUser}}
        <li class="nav-item">
          <a id="logout" class="nav-link" aria-current="page" href="/logout">Logout</a>
        </li>
          {{#if currentUser.admin}}
          <li class="nav-item" style="text-decoration: underline;">
           <button type="button" id="nav-button" class="btn btn-primary navbar-btn">
            <a class="nav-link" aria-current="page" href="/plans/create">
              Crear plan
            </a>
          </button>
        </li>
        {{/if}}
        <li class="nav-item">
          <a href="/users/profile"> <img class="img-nav" src="{{currentUser.avatarUrl}}" alt=""> </a>
        </li>
        {{else}}
        <li class="nav-item" style="text-decoration: underline;">
          <button type="button" id="nav-button" class="btn btn-secondary navbar-btn">
            <a class="nav-link" aria-current="page" href="/login">
              Iniciar sesión
            </a>
          </button>
        </li>
        <li class="nav-item" style="text-decoration: underline;">
          <button type="button" id="nav-button" class="btn btn-primary navbar-btn">
            <a class="nav-link" aria-current="page" href="/register">
              Crear cuenta
            </a>
          </button>

        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>