#main-nav {
    background-color: turquoise !important;
}

.hero {
    background: url('./../img/img-hero.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: 900;
}

.shadow-custom-card {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.custom-card-img-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 190px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: relative;
}

.custom-card-body {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.btn-primary {
    background-color: turquoise !important;
}

.like-button-div {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    right: 32px;
    border-radius: 100%;
}

.like-button-div i {
    font-size: 23px;
}


.bg-image {
    background-color: rgb(44, 43, 43);
    height: calc(100vh - 800px);
    max-height: 600px;
    min-height: 300px;
    width: 100%;
    z-index: -1;


}


.btn {
    background-color: rgb(8, 105, 45);
    color: white;

}

.card-detail {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    margin-top: -190px;
    border-radius: 20px;
    overflow: hidden;
}


.card-detail-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

#card-detail-container {
    height: 400px;
}

.card-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: #ebebeb;
}

.card-detail-date {
    background-color: white;
    padding: 21px 17px;
    font-size: 19px;
    border-radius: 9px;
    color: #9d9d9d;
    -webkit-box-shadow: 0px 0px 8px -2px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 8px -2px rgb(0 0 0 / 20%);
}

.card-detail-like-btn {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 400px;
    right: inherit;
    border-radius: 100px;
}

#card-detail-container-text {
    height: 600px;
    background-color: ;
}


.card-detail-like-btn i {
    font-size: 23px;
    color: red;
}

.card-detail-ticket-btn button {
    font-size: 30px;
}

.card-text-info {
    padding: 0px 252px 200px 20px;

}

.card-text-info p {
    font-size: 21px;
    font-weight: 100;
    text-align: justify;
}

.card-info {
    display: flex;
    bottom: ;
}

.info-date {
    font-size: 25px;
}





#card-general-info {
    margin-top: -5rem;
    padding: 30px;
}

#card-detail-container-text  h1 {
   font-weight: 400px ;
}