body {
    font-family: 'Montserrat', sans-serif;
}

#main-nav {
    background-color: #F1F1F1 !important;
    opacity: 0.7;
    width: 100%;
    height: 80px;
}

#main-nav a {
    font-size: 16px;
    font-weight: 600;
    color: #248A65;
}


.hero {
    background: url('./../img/img-hero.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero h1 {
    font-weight: 900;
    font-size: 80px;
    margin-left: 100px;
    margin-right: 80px;
    text-align: left;
}

.hero p {
    font-weight: 700;
    font-size: 25px;
    margin-left: 100px;
    text-align: left;
}

.text-center {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.second-module {
    background-color: grey;
}

.shadow-custom-card {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.custom-card-img-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 145px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: relative;
}

.custom-card-body {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.btn-primary {
    background-color: #248A65 !important;
}

.like-button-div {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    right: 32px;
    border-radius: 100%;
}

.like-button-div i {
    font-size: 23px;
}


.bg-image {
    filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    -webkit-filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    -moz-filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    height: calc(100vh - 400px);
    max-height: 600px;
    min-height: 300px;
    width: 100%;
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 110%;
    margin-left: -20px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    margin-top: -20px;
}


.card-detail {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    margin-top: -400px;
    border-radius: 20px;
    overflow: hidden;
}


.card-detail-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

#card-detail-container {
    height: 500px;
}

.card-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: #ebebeb;
}

.card-detail-date {
    font-size: 19px;
    color: #9d9d9d;
}

.card-detail-like-btn {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 43px;
    font-size: 61px;
    right: inherit;
    border-radius: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.card-detail-like-btn i {
    font-size: 43px;
}

.btn {
    font-size: 10px;
    background-color: #40e0d0;
    color: white;
}

#card-detail-container-text {
    height: 600px;
}


.card-text-info {
    padding: 10px 45px;
}

.card-text-info p {
    font-size: 21px;
    font-weight: 100;
    text-align: justify;
}

.card-info {
    display: flex;

}

.info-date {
    font-size: 30px;
}

.info-location {
    font-size: 30px;
}

.card-detail-info>p {
    font-size: 30px;
}

#card-detail-container-text h1 {
    font-weight: 400px;
}

.header-image {
    border-bottom: 10px solid white;
    overflow: hidden;
}

.image-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    height: calc(100vh - 400px);
    max-height: 600px;
    min-height: 300px;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    margin-top: -20px;
}

.btn-unstylled {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.avatar {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-top: 200px;
    justify-content: center;
}

.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    margin-top: -100px;

}


.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-name h2 {
    font-size: 50px;
    font-weight: 500px;
}

.profile-email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400px;
}

.custom-card-profile {
    width: 250px;
    font-size: 10px;
}

.custom-card-profile a {
    width: 120px;
    height: 35px;
    font-size: 13px;
    align-content: center;
}


#profile-container {
    box-shadow: 1px 3px 15px -1px rgb(0 0 0 / 20%);
    border-radius: 20px;
}

.navbar-light span#navbar-hamburguer.navbar-toggler-icon {
    background-image: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.footer {
    width: auto;
    height: 400px;
    background-color: darkslategray;
    margin-top: 80px;
}

.footer-title h1 {
    margin-top: 10px;
}

#footer-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    color: white;
}


/* #footer-groups h4{
    color: white;
} */


.span-promenade {
    color: #69c2d7;
    font-weight: 700;
}

.company-items small {
    margin-top: 10px;
}

.company-items a {
    margin-top: 10px;
}

.home-btn {
    color: white;
}



.slick-prev:before,
.slick-next:before {
    color: rgba(0, 0, 0, 0.1);
    font-size: 40px;
    color: #248A65;
}


.slick-prev {
    z-index: 10;
    left: 5px !important;
}

.slick-next {
    z-index: 10;
    right: 20px !important;
}

.content-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 992px) {
    .content-nav-wrapper {
        display: block;
    }
}


.pay-btn {
    display: flex;
    justify-content: end;
}

.pay-btn button {
    margin-bottom: 200px;
    margin-right: 200px;
    width: 200px;
}

#nav-button {
    text-align: center;
    margin-right: 33px;
    height: 50px;
    width: 120px;
}

#nav-button a {
    color: white;
    font-size: 14px;
    margin-top: -11px;
}


.img-nav {
    border: solid;
    border-radius: 100%;
    border-color: #248A65;
    width: 70px;
    margin-right: 110px;
}


#nav-color {
    background: linear-gradient(70deg, #248A65, white);
}

/* #bg-logo{
    background: url('./../img/Sin\ título-2.png');
    width: 4%;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} */

.div-logo {
    width: 290px;
    height: 285px;
    display: flex;
    margin-top: -112px;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    background: url(./../img/Sin\ título-2.png);
    width: 60%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width:992px) {
    .footer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 50px;
    }

}

#logout {
    margin-top: 20px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
}

.section-home p {
    margin-top: -50px;
    margin-bottom: 1rem;
    font-size: x-large;
}


.categories-box {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size:x-large;
    font-weight:bold;

    color: #248A65;
    border: solid 3px #248A65;
    float: left;
    margin: 10px;
}