body {
    font-family: 'Montserrat', sans-serif;
}

#main-nav {
    background-color: turquoise !important;
}

.hero {
    background: url('./../img/img-hero.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: 900;
}

.shadow-custom-card {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.custom-card-img-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 190px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    position: relative;
}

.custom-card-body {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.btn-primary {
    background-color: turquoise !important;
}

.like-button-div {
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    right: 32px;
    border-radius: 100%;
}

.like-button-div i {
    font-size: 23px;
}


.bg-image {
    filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    -webkit-filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    -moz-filter: blur(8px) brightness(45%) saturate(47%) opacity(64%) drop-shadow(0px 0px 10px #000000);
    height: calc(100vh - 400px);
    max-height: 600px;
    min-height: 300px;
    width: 100%;
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 110%;
    margin-left: -20px;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    margin-top: -20px;
}


.card-detail {
    -webkit-box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 15px -1px rgba(0, 0, 0, 0.2);
    margin-top: -400px;
    border-radius: 20px;
    overflow: hidden;
}


.card-detail-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

#card-detail-container {
    height: 500px;
}

.card-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    background-color: #ebebeb;
}

.card-detail-date {
    font-size: 19px;
    color: #9d9d9d;
}

.card-detail-like-btn {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -50px;
    left: 43px;
    font-size: 61px;
    right: inherit;
    border-radius: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.card-detail-like-btn i {
    font-size: 43px;
}

.btn {
    font-size: 30px;
    background-color: #40e0d0;
    color: white;
}

#card-detail-container-text {
    height: 600px;
}


.card-text-info {
    padding: 10px 45px;
}

.card-text-info p {
    font-size: 21px;
    font-weight: 100;
    text-align: justify;
}

.card-info {
    display: flex;

}

.info-date {
    font-size: 30px;
}

.info-location {
    font-size: 30px;
}

.card-detail-info>p {
    font-size: 30px;
}

#card-detail-container-text h1 {
    font-weight: 400px;
}

.header-image {
    border-bottom: 10px solid white;
    overflow: hidden;
}

.image-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    height: calc(100vh - 400px);
    max-height: 600px;
    min-height: 300px;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    margin-top: -20px;
}

.btn-unstylled {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}
