<h1>profile</h1>

<img src= {{user.avatarUrl}} alt='avatarillo'>
<h2> {{user.name}} </h2>
<ul>
{{#each user.likes as |plan|}}
       <li>  
              {{plan.title}}
       </li> 
    
{{/each}}
</ul>